@import 'reset.scss';
@import 'underline-from-center';
@import 'down-arrow';

$font-black: #666666;
$title: 'Barlow Semi Condensed', sans-serif;
$break-xs: 390px;
$break-sm: 600px;
$break-md: 900px;
$break-lg: 1200px;

.container {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: [line1] 100px [line2] auto [line3] 400px;
    /* grid-template-areas: ". header header ."
                         ". main   main   ."
                         ". footer footer ."; */
    border: 2px solid pink;
    font-family: $title;
    font-size: 20px;
    @media screen and (max-width: $break-xs){
        grid-template-rows: [line1] 350px [line2] auto [line3] 400px;
    }
}

// HEADER
header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $break-sm) {
        flex-direction: column;
    }
    @media screen and (max-width: $break-xs){
        justify-content: end;
    }
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    @media screen and (max-width: $break-sm) {
        margin: 10%;
    }
}

nav {
    display: flex;
    justify-content: flex-end;
    ul {
        display: flex;
        list-style-type: none;
        /* @media screen and (max-width: $break-sm) {
            margin-top: 20%;
        } */
        @media screen and (max-width: $break-xs) {
            flex-direction: column;
            line-height: 40px;
            margin-top: 20%;
            margin-left: 30px;
        }
    }
    .space {
        margin-right: 30px;
    }
    li a {
        padding-bottom: 8px;
        font-size: 20px;
        color: $font-black;
        font-family: $title;
        text-decoration: none;
        &:hover:not(.active) {
            color: pink;
        }
        @media screen and (max-width: $break-xs) {
            font-size: 15px;
            line-height: 18px;
        }
    }
    .active {
        color: pink;
    }
}


// MAIN
main {
    grid-column: 2 / 4;
    grid-row: 2 / 3; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

// HOME
#home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
    border: 2px solid skyblue;
    @media screen and (max-width: $break-xs) {
        height: 250px;
    }
}

/* Title animation */
.title {
    margin: auto;
    display: flex;
    flex-direction: column;
    .t {
        color: $font-black; 
        font-family: $title;
        font-size: 70px;
        white-space: nowrap;
        overflow: hidden;
        width: 710px; 
        line-height: 100px;
        @media screen and (max-width: $break-md) {
            font-size: 50px;
            width: 510px; 
            line-height: 70px;
        }
        @media screen and (max-width: $break-sm) {
            font-size: 30px;
            width: 310px; 
            line-height: 50px;
        }
        @media screen and (max-width: $break-xs) {
            font-size: 20px;
            width: 210px; 
            line-height: 30px;
        }
    }
    .t1 {
        animation: scrollingText1 5s steps(60, end);
        @keyframes scrollingText1 { 
            from { width: 0;} 
        } 
    }
    .t2 {
        animation: scrollingText2 6s steps(60, end);
        @keyframes scrollingText2 {
            0%{width: 0;}
            50%{width: 0;}
            100%{ width: 100;} 
        } 
    }
    .t3 {
        animation: scrollingText3 10s steps(60, end);
        @keyframes scrollingText3 {
            0%{width: 0;}
            50%{width: 0;}
            100%{ width: 100;} 
        }
    }
}

h1 {
    display: none;
}
  

// ABOUT
#about {
    display: flex;
    align-items: center;
    height: 700px;
    border: 2px solid forestgreen;
    padding: 83px;
    .aboutText {
        font-family: $title;
        font-size: 30px;
        line-height: 2;
        text-align: justify;
    }
}

// WORK
#work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px;
    height: 880px;
    border: 2px solid orangered;
}

.workImg {
    border: 1px solid grey;
}