@import 'reset.scss';
@import 'underline-from-center';

$font-black: #666666;
$title: 'Barlow Semi Condensed', sans-serif;
$break-xs: 390px;
$break-sm: 600px;
$break-lg: 1200px;

.container {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 20px 100px 700px 400%;
    /* grid-template-areas: ". header header ."
                         ". main   main   ."
                         ". footer footer ."; */
    border: 2px solid pink;
    font-family: $title;
    font-size: 20px;
}

// Header
header {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $break-sm) {
        flex-direction: column;
    }
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: flex-end;
    ul {
        display: flex;
        list-style-type: none;
        @media screen and (max-width: $break-xs) {
            flex-direction: column;
            line-height: 40px;
            margin-top: 20%;
            margin-left: 30px;
        }
    }
    .space {
        margin-right: 30px;
    }
    li a {
        padding-bottom: 8px;
        font-size: 20px;
        color: $font-black;
        font-family: $title;
        text-decoration: none;
        &:hover:not(.active) {
            color: pink;
        }
    }
    .active {
        color: pink;
    }
}



// Main
main {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* h1 animation */
.title {
    
}
.animTitle {
    color: $font-black; 
    font-family: $title;
    font-size: 70px;
    //text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 710px; 
    line-height: 100px;
    
}

.p1 {
    animation: scrollingText1 5s steps(60, end);
}
.p2 {
    animation: scrollingText2 6s steps(60, end);
}
.p3 {
    animation: scrollingText3 10s steps(60, end);
}
  
@keyframes scrollingText1 { 
    from { width: 0; } 
} 

@keyframes scrollingText2 {
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
} 

@keyframes scrollingText3 {
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
}